body {
    background-color: lightgray;
    display: grid;
    place-items: center;
    height: 100vh;
}

.btn {
    background-color: red;
    color: white;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 5em;
    font-weight: bold;
    border-color: silver;
    border-width: 10px;
    display: grid;
    place-items: center;
}

.btn:active {
    background-color: darkred;
}